Source: libint
Priority: extra
Maintainer: Katsuhiko Nishimra <ktns.87@gmail.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.3
Section: libs
Homepage: http://sf.net/projects/libint/
#Vcs-Git: git://git.debian.org/collab-maint/libint.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/libint.git;a=summary

Package: libint-dev
Section: libdevel
Architecture: any
Depends: libint2 (= ${binary:Version}), ${misc:Depends}
Description: Libint computes molecular integrals 
 Libint is a software stack for
 computing integrals used in
 molecular quantum mechanics.

Package: libint2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Libint computes molecular integrals
 Libint is a software stack for
 computing integrals used in
 molecular quantum mechanics.
