Source: libint
Priority: extra
Maintainer: Katsuhiko Nishimra <ktns.87@gmail.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, bash
Standards-Version: 3.9.3
Section: libs
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/libint.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/libint.git;a=summary

Package: libint-dev
Section: libdevel
Architecture: any
Depends: libintBROKEN (= ${binary:Version})
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: libintBROKEN
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
