#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
include /usr/share/dpkg/buildflags.mk

%:
	dh $@  --with autotools-dev
override_dh_auto_clean:
	dh_auto_clean
	rm -rf lib/.libs src/.libs
override_dh_auto_configure:
	dh_auto_configure -- --enable-shared
override_dh_auto_build:
	dh_auto_build --parallel -- SHELL=/bin/bash LDFLAGS='$(LDFLAGS)'
override_dh_auto_install:
	dh_auto_install -- SHELL=/bin/bash
override_dh_auto_test:
	dh_auto_test -- LDFLAGS='-L../lib -L../lib/.libs -lint2 -Wl,-rpath=../lib -Wl,-rpath=../lib/.libs'
